body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #6c2dd3d2;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #00000011;
}

main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #6c2dd3d2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #6c2dd3d2;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
}

form input[type="submit"]:hover {
    background-color: #6c2dd3d2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-section {
    padding: 20px;
    text-align: center;
}

.gallery-section h2 {
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

.gallery-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.yt {
    position: relative; 
    display: block; 
    width: 90%; 
    height: 0; 
    margin: auto; 
    padding: 0% 0% 56.25%; 
    overflow: hidden; 
  }
  
  .yt iframe {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
  }


